html, body {
    font:normal 12px verdana;
    margin:0;
    padding:0;
    border:0 none;
    height:100%;
}
.home {
    background-image:url(../img/home.png) !important;
}
.close {
    background-image:url(../img/close.gif) !important;
}
.save {
    background-image:url(../img/save.png) !important;
}
.linechart {
    background-image:url(../img/line-chart2.png) !important;
}
.network {
    background-image:url(../img/network.png) !important;
}
.displaycheck {
    background-image:url(../img/displaycheck.gif) !important;
}
.instances {
    background-image:url(../img/intances.png) !important;
}
.project {
    background-image:url(../img/project.png) !important;
}
.print {
    background-image:url(../img/print.gif) !important;
}
.search {
    background-image:url(../img/search.png) !important;
}
.customer {
    background-image:url(../img/customer.png) !important;
}
.baseline {
    background-image:url(../img/test_baseline.png) !important;
}
.browsing {
    background-image:url(../img/iie_browsing.png) !important;
}
.register_user {
    background-image:url(../img/register_user.png) !important;
}
.add {
    background-image:url(../img/add.gif) !important;
}
.delete {
    background-image:url(../img/delete.gif) !important;
}
.summary {
    background-image:url(../img/summary.png) !important;
}
.throughput {
    background-image:url(../img/throughput.png) !important;
}
.url {
    background-image:url(../img/url_browsing.png) !important;
}
.download {
    background-image:url(../img/iie_download.png) !important;
}
.streaming {
    background-image:url(../img/iie_stream.png) !important;
}
.refresh {
    background-image:url(../img/refresh.png) !important;
}
.about {
    background-image:url(../img/about.png) !important;
}
.welcome_user {
    background-image:url(../img/user_suit.png) !important;
}
.logout {
    background-image:url(../img/door_in.png) !important;
}
.wait_anim {
    background-image:url(../img/wait.gif) !important;
}
.report {
    background-image:url(../img/report.png) !important;
}
.reportmenu {
    background-image:url(../img/reportmenu.png) !important;
}
.history {
    background-image:url(../img/history.png) !important;
}
.hidecolumn {
    background-image:url(../img/hidecolumn.png) !important;
}
.exporthist {
    background-image:url(../img/exporthist.png) !important;
}
.chart {
    background-image:url(../img/chart.png) !important;
}
.chart2 {
    background-image:url(../img/chart2.png) !important;
}
#bannerbg {
    background: #eaf1f6 url(../img/bannerbg.png) repeat center center;
	/*background: #eaf1f6 url(../img/bannerbg.png) repeat center center;*/
	color: #08365a;
	padding:27px 120px !important;
}

#bannertitledeco {
	background: transparent url(../img/bannertitledeco_ttcs.png) no-repeat left;
    /*background: transparent url(../img/docs.gif) no-repeat left;*/
	/*background: #eaf1f6 url(../img/bannerbg.png) repeat center center;*/
	position: absolute; 
	left: 0px; 
	top: -1px; 
	height: 82px; 
	width: 975px; 
	/*padding: 1em;*/
	color: #08365a;
}
#top_right_menu {
  font-size:12px;
  position:absolute;
  right:20px;
  width:100%;
}
#top_right_menu #sign_out_button a, #top_right_menu #sign_out_button a:link, #top_right_menu #sign_out_button a:active {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(../img/door_in.png);
  background-origin:initial;
  background-position:3px 50%;
  background-repeat:no-repeat;
  border-bottom-color:transparent;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:transparent;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:transparent;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:transparent;
  border-top-style:solid;
  border-top-width:0;
  color:#000000;
  float:right;
  padding-bottom:5px;
  padding-left:25px;
  padding-right:5px;
  padding-top:5px;
}
#top_right_menu #sign_out_button a:hover {
	background-color:#B8D2E2;
	border-bottom-color:#8BAEC9;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#8BAEC9;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#8BAEC9;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#8BAEC9;
	border-top-style:solid;
	border-top-width:0;
}
#top_right_menu #user_id_text {
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(../img/user_suit.png);
  background-origin:initial;
  background-position:3px 50%;
  background-repeat:no-repeat;
  border-bottom-color:transparent;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:transparent;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:transparent;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:transparent;
  border-top-style:solid;
  border-top-width:0;
  float:right;
  margin-right:10px;
  padding-bottom:5px;
  padding-left:22px;
  padding-right:5px;
  padding-top:5px;
}

#top_right_menu #changepwd_button{
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(../img/user_suit.png);
  background-origin:initial;
  background-position:3px 50%;
  background-repeat:no-repeat;
  border-bottom-color:transparent;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:transparent;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:transparent;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:transparent;
  border-top-style:solid;
  border-top-width:0;
  color:#000000;
  float:right;
  padding-bottom:5px;
  padding-left:0px;
  padding-right:15px;
  padding-top:5px;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('../img/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

#bottom_bar a, #bottom_bar a:link, #bottom_bar a:active {
  color:#f36f27;
}
#bottom_bar a:hover {
	background-color:transparent;
}
.ratingcaption {
	background-color:#ecedef;
	border-right-color:#d0d0d0;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-color:#dddddd;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
.rating_poor {
	background-color:#e14d4d;/*#ff5252;*/
}
.rating_good {
	background-color:#76d784;
}
.rating_fair {
	background-color:#7691d7;
}
.test_poor_renderer {
        margin-bottom: 3px;
	background-color:#e14d4d;
	border-bottom-color:#d91b1b;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#d91b1b;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#d91b1b;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#d91b1b;
	border-top-style:solid;
	border-top-width:1px;
}
.test_good_renderer {
        margin-bottom: 3px;
	background-color:#76d784;
	border-bottom-color:#47b857;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#47b857;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#47b857;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#47b857;
	border-top-style:solid;
	border-top-width:1px;
}
.test_fair_renderer {
        margin-bottom: 3px;
	background-color:#7691d7;
	border-bottom-color:#3372db;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#3372db;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#3372db;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#3372db;
	border-top-style:solid;
	border-top-width:1px;
}
.test_poor {
	background-color:#e14d4d;
	border-bottom-color:#d91b1b;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#d91b1b;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#d91b1b;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#d91b1b;
	border-top-style:solid;
	border-top-width:1px;
}
.test_good {
	background-color:#76d784;
	border-bottom-color:#47b857;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#47b857;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#47b857;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#47b857;
	border-top-style:solid;
	border-top-width:1px;
}
.test_fair {
	background-color:#7691d7;
	border-bottom-color:#3372db;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#3372db;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#3372db;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#3372db;
	border-top-style:solid;
	border-top-width:1px;
}
