.rating_critical {
	background-color:#DF5353;/*#ff5252;*/
}
.rating_normal {
	background-color:#99bf58;
}
.rating_major {
	background-color:#DDDF0D;
}
.metriccaption {
	background-color:#ecedef;
	border-right-color:#d0d0d0;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-color:#dddddd;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .x-grid3-cell, /* Normal grid cell */
    .x-grid3-gcell /* Grouped grid cell (esp. in head)*/
    {
        box-sizing: border-box;
    }
}