.resize {
    background-image:url(../img/resize2.png) !important;
}
.close {
    background-image:url(../img/close.gif) !important;
}
.refresh {
    background-image:url(../img/refresh.png) !important;
}
#images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
	background: #dddddd;
	padding: 3px;
}
#images-view .thumb img{
	height: 60px;
	width: 80px;
}
#images-view .thumb_1{
	background: #99bf58; 
	padding: 3px;
}
#images-view .thumb_1 img{
	height: 60px;
	width: 80px;
}
#images-view .thumb_2{
	background: #DDDF0D;
	padding: 3px;
}
#images-view .thumb_2 img{
	height: 60px;
	width: 80px;
}
#images-view .thumb_3{
	background: #DF5353;
	padding: 3px;
}
#images-view .thumb_3 img{
	height: 60px;
	width: 80px;
}
#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span{		
	display: block;
	overflow: hidden;
	text-align: center;
}
.custombtn .x-btn-text {
    font:normal 12px verdana;
}
.incoming {
	background-color:#5e8bc0;
	border-bottom-color:#30557e;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#30557e;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#30557e;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#30557e;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
}
.outgoing {
	background-color:#DF5353;
	border-bottom-color:#8e2424;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#8e2424;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#8e2424;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#8e2424;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
}
.critical {
	background-color:#DF5353;
	border-bottom-color:#8e2424;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#8e2424;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#8e2424;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#8e2424;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
}
.major {
	background-color:#DDDF0D;
	border-bottom-color:#4b4180;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#4b4180;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#4b4180;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#4b4180;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
}
.normal {
	background-color:#99bf58;
	border-bottom-color:#58702d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#58702d;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#58702d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#58702d;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
}
#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../../ext-3.2.1/resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}
.speedohistory {
    background-image:url(../img/history.png) !important;
}
#images-view .x-view-selected{
	background: #eff5fb url(../img/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url('../../../ext-3.2.1/resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}
.x-panel .panel_class{
    border-style: solid;
    border-width: 0px;
    border-color: #99bbe8;
}
.x-panel-body .body_border{
    padding: 0;
    border: 0 none;
    margin: 0;
}
.home-panel .x-panel-header {
     height: 20px; 
}
.home-panel .x-panel-header-text {
     font: bold 14px verdana, sans-serif;
     padding: 6px 0 14px 0px; /* push text down 1px */
}
.home-panel .x-panel-header-body {
      height: 20px;
}
/*------------------------------
Hack to make this work in IE (8 at least) 
(framed header collapses at a height of n+4)
--------------------------------*/
.x-ie .home-panel .x-panel-header-body {
    height: 28px;
}